@using ReservationApp.Utility
@model List<Appointment>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class=" text-primary">
                Appointment's List
            </h2>
        </div>
    </div>
</div>

<table id="tblData" class="table table-striped table-bordered text-center justify-content-center shadow">
    <thead>
        <tr>
            <th class="table-info">
                Company Name
            </th>
            <th class="table-info">
                Service Name
            </th>
            <th class="table-info">
                Date
            </th>
            <th class="table-info">
                Hour
            </th>
            <th class="table-info">
                Status
            </th>
            <th class="table-info">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
    <tfoot>
        <tr>
            <th class="text-center">Company</th>
            <th class="text-center">Service</th>
            <th class="text-center">Date</th>
            <th class="text-center">Time</th>
            <th></th>
            <th></th> 
        </tr>
    </tfoot>

</table>

@section Scripts
{

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Select all buttons with the 'status-btn' class
            var statusButtons = document.querySelectorAll('.status-btn');

            // Loop through each button and update its class based on the data-status
            statusButtons.forEach(function (btn) {
                var status = btn.getAttribute('data-status');

                // Update the button class based on the status
                if (status === 'Pending') {
                    btn.classList.add('btn-outline-warning');
                } else if (status === 'Paid') {
                    btn.classList.add('btn-outline-primary');
                } else if (status === 'Confirmed') {
                    btn.classList.add('btn-outline-success');
                } else if (status === 'Completed') {
                    btn.classList.add('btn-success');
                } else if (status === 'Cancelled') {
                    btn.classList.add('btn-outline-danger');
                } else if(status === 'NoShow'){
                    btn.classList.add('btn-outline-info');
                }
            });
        });
    </script>
    <script src="~/js/UserAppointments.js"></script>
}